.container .studentsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 100px;

}

.studentPage {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
}
.back {
  text-transform: capitalize;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.5em;
  display: block;
  transition: .5s;

  &:hover {
    color: var(--mainColor);
  }
}
.studentPage .studentDataHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;

  &::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    background-color: var(--grey);
  }
  &::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
  }
}

.studentPage .studentDataHolder div {
  font-size: 1.5em;
  letter-spacing: .5px;
  margin: 10px 0;
  margin-right: 10px;
}

.studentPage .studentDataHolder form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 2px solid var(--mainColor);
  padding: 10px;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      margin-left: 10px;
      padding: 15px;
      font-size: 1.2em;
    }
  }
  
  & > p {
    font-size: 2em;
  }
}




.container .studentsContainer>p {
  text-align: center;
  width: 100%;
  font-size: 3em;
  letter-spacing: .5px;
}
.studentPage .btns-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 20px;
  margin-top: 10px;
}